<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITimeService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4160/TimeService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITimeService" contract="ServiceReference1.ITimeService"
                name="BasicHttpBinding_ITimeService" />
        </client>
    </system.serviceModel>
</configuration>